# SRE End Term team — require review on critical paths
/sre-end-term/                    @Nurbolat69
/sre-end-term/monitoring/         @Nurbolat69
/sre-end-term/terraform/          @Nurbolat69
/.github/workflows/sre-team-ci-cd.yml @Nurbolat69
